section {
    margin-top: 40px;
}

#show_profile, #about, #account_information {
    border: lightslategray 1px solid;
    box-shadow: lightslategray 3px 3px 3px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin: 30px 0 0 0;
}

#show_profile_avatar img{
    width: 120px;
    height: 120px;
    border-radius: 50px;
}

#show_profile_user{
    margin-left: 50px;
}

#username_account {
    font-weight: bold;
    font-size: 1.4em;
}

#details {
    font-size: 1.1em;
}

.span_account {
    font-weight: bold;
}

@media screen and (max-width: 600px) {

    #title_form {
        font-size: 1.3em;
    }

    #sub_title {
        font-size: 1.2em;
    }

    #show_profile_avatar img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

    #username_account, #about > h2, #account_information > h2 {
        font-weight: bold;
        font-size: 1em;
    }
    
    #details {
        font-size: 0.8em;
    }

    #about > p, #account_information > p {
        font-size: 0.8em;
    }
}