footer {
    height: 100px;
    background-color: gray;
    text-align: center;
    width: 100%;
    padding-top: 40px;
    margin-top: 20px;
}

.fixed, .fixed-login, .fixed-register {
    position: fixed;
    bottom: 0em;
}

.static {
    position: static;
    bottom: 0em;
}

.static-full {
    margin-top: 80px;
    position: static;
    bottom: 0em;
}

.footer_1 {
    color: white;
    border-right: 2px solid white;
    border-left: solid 2px white;
    padding: 0 8px 0 8px;
    margin-right: 0px;
}

.footer_2 {
    color: white;
    border-right: 2px solid white;
    padding: 0 8px 0 5px;
    margin-left: 0px;
}

footer > a:hover {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

/*Descktop screen and (max-height: 850px) */

@media screen and (max-height: 850px) {

    .fixed-register {
        margin-top: 20px;
        position: static;
        bottom: 0em;
    }
  }

  /*Descktop screen and (max-height: 700px) */

  @media screen and (max-height: 700px) {

    .fixed {
        margin-top: 20px;
        position: static;
        bottom: 0em;
    }

    .full {
        margin-top: 80px;
        position: static;
        bottom: 0em;
    }
  }

    /*Descktop screen and (max-height: 640px) */

    @media screen and (max-height: 640px) {

        .fixed-login {
            margin-top: 20px;
            position: static;
            bottom: 0em;
        }
      }

  /*Descktop screen and (max-width: 700px) */

  @media screen and (max-width: 700px) {

    .footer_1 {
        font-size: 0.8em;
        border-right: 1px solid white;
    }
    
    .footer_2 {
        font-size: 0.8em;
        border-right: 1px solid white;
    }
  }