#title_form {
    text-align: center;
    margin: 30px 0 0 0;
}

#p_form {
    text-align: center;
    margin: 0 0 0 0;
}

#p_form a{
    text-align: center;
    padding: 0 0 30px 0;
    display: block;
    color: grey;
    font-style: italic;
}

#lost_password {
    font-size: 0.8em;
    color: grey;
    font-style: italic;
}

#p_form a:hover, #lost_password:hover{
    text-decoration: none;
    color: red;
}

table {
    width: 100%;
}

label {
    font-size: 1.4em;
    color:gray;
    margin-left: 20px;
}

.input{
    font-size: 1.2em;
    color:gray;
    width: 100%;
    border: none;
    border-bottom: solid 4px grey;
    margin-bottom: 20px;
}

.input:focus {
    color: black;
    border-color: red;
    outline:  none;
}

#checkbox {
    width: 15px;
    height: 25px;
    margin-left: 45px;
}

.checkbox {
    font-size: 1em;
    margin-left: 5px;
}

/*Descktop screen and (max-width: 1400px) */

@media screen and (max-width: 1400px) {
    
}

/*Descktop screen and (max-width: 990px) */

@media screen and (max-width: 990px) {
  

}

/*Descktop screen and (max-width: 860px) */

@media screen and (max-width: 860px) {
    .label {
        font-size: 1.1em;
    }

    .checkbox {
        font-size: 0.9em;
    }

    .input {
        font-size: 1em;
    }

}

@media screen and (max-width: 600px) {
    .label {
        font-size: 1em;
    }

    .checkbox {
        font-size: 0.7em;
    }

    .input {
        font-size: 0.8em;
    }
}
