header {
    background-color: gray;
    padding: 0 150px 0 60px;
    margin: 0;
    border-bottom: 1px red solid;
}

#logo_header {
    width: 75px;
}

#menu ul {
    list-style: none;
}

/*-----Is connect-----*/

#auth_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#li_auth > span {
    color: white;
}

#menu ul li:hover #sub_menu {
    visibility: visible;
    background-color: gray;
    border-bottom: 1px red solid;
    transition-delay: 0.1s;
}

#sub_menu {
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: 10px 40px 10px 40px;
}

#sub_menu li a:hover{
    padding-left: 10px;
    border-left: 1px solid red;
    text-decoration: none;
    font-size: 1.1em;
}

/*-----Is not connect-----*/

#menu li a {
    color: black;
    margin-right: 15px;
    color: white;
}

#nav_connect > a:hover {
    font-size: 1.1em;
    border-top: 2px solid red;
    text-decoration: none;
}

  /*Descktop screen and (max-width: 500px) */

  @media screen and (max-width: 769px) {
    header {
        padding: 0 50px 0 10px;
        display: inline;
    }

    #logo_header {
        width: 65px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #auth_avatar {
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }

    #li_auth {
        text-align: center;
    }

    #sub_menu {
        width: 90%;
    }

    /*-----Is not connect-----*/

#menu li {
    text-align: center;
}
  }