.section_ActorsList {
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: 1px solid lightslategray;
    margin-top: 0px;
}

#gbaf > div > p, #actorsList > p {
    text-align: center;
    color: grey;
    margin: 50px 60px 20px 60px;
    padding: 0 20px 20px 20px;
    border-right: solid 1px lightslategray;
    border-left: solid 1px lightslategray;
    font-weight: 600;
}

#gbaf > div > p > a {
    text-align: center;
    color: grey;
    font-style: italic;
}

#gbaf > div > p > a:hover {
    text-decoration: none;
    color: red;
}

#banner {
    padding-bottom: 20px;
    border-bottom: lightslategrey solid 2px;
    text-align: center;
}

#banner > img {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    border: ridge 2px whitesmoke;
}


/*#actorsList*/

#actorsList {
    border-bottom: lightslategray 2px solid;
}

#actorsList > h2 {
    text-align: center;
}

#while_actor_block{
    margin: 0 60px 0 60px;
    border: solid 2px lightslategray;
    box-shadow: lightslategrey 3px 3px 3px;
    margin-bottom: 25px;
    height: 220px;
    background: white;
}

#while_actor_picture {
    width: 300px;
    text-align: center;
}

#btn_actorlist {
    border: 1px solid lightslategray;
    background-color: lightslategray;
    box-shadow: lightslategray 2px 2px 2px;
    color: white;
    padding: 3px 3px 3px 3px;
}

#btn_actorlist:hover {
    text-decoration: none;
    background-color: white;
    color: lightslategray;
    box-shadow: lightslategray 3px 3px 3px;
    font-weight: 700;
}

/*Descktop screen and (max-width: 1400px) */

@media screen and (max-width: 1400px) {
    
    .section_ActorsList {
        margin-left: 100px;
        margin-right: 100px;
    }

    #gbaf > div > p, #actorsList > p {
        font-size: 0.9em;
    }

    #banner>img {
        height: 300px;
    }
    
    #while_actor_picture {
        width: 230px;
        text-align: center;
    }
  }

  /*Descktop screen and (max-width: 990px) */

@media screen and (max-width: 990px) {
    
    #while_actor_block {     
        height: 180px;     
    }

    #while_actor_picture{
        width: 180px;
    }

    #while_actor_h3 {
        font-size: 1.3em;
    }

    #while_actor_p {
        font-size: 0.9em;
    }
  }

  /*Descktop screen and (max-width: 860px) */

  @media screen and (max-width: 860px) {

    #actorsList > h2 {
        font-size: 1.3em;
    }

    #gbaf > div > p, #actorsList > p {
        font-size: 0.7em;
    }

    #banner>img {
        height: 200px;
    }

    #while_actor_block {
        width: 100%;
        height: 150px;
        margin-right: auto;
        margin-left: auto;
    }

    #while_actor_picture{
        width: 130px;
    }

    #while_actor_h3 {
        font-size: 1.2em;
    }

    #while_actor_p {
        font-size: 0.7em;
    }

    #btn_actorlist {
        font-size: 0.7em;
    }
  }

  /*Descktop screen and (max-width: 500px) */

  @media screen and (max-width: 600px) {

    .section_ActorsList {
        margin-left: 10px;
        margin-right: 10px;
    }

    #actorsList > h2 {
        font-size: 1.1em;
    }
    
    #gbaf > div > p, #actorsList > p {
        margin: 0 10px 10px 10px;
        padding: 0 15px 15px 15px;
    }

    #banner>img {
        height: 120px;
    }

    #while_actor_block {
        height: 200px;
    }

    #while_actor_picture{
        width: 140px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #while_actor_h3 {
        font-size: 1em;
    }

    #while_actor_p {
        font-size: 0.6em;
    }
  }