body {
    background-color: whitesmoke;
}

#sub_title {
    font-size: 1.3em;
    text-align: center;
}

#btn_primary{
    background-color: red;
    color: lightgray;
    border: 1px solid red;
    font-size: 1.4em;
    padding: 5px 5px 5px 5px;
    margin-left: 25px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 410px;
}

#btn_primary:hover {
    background-color: white;
    color: red;
    border: 2px solid red;
    transition-delay: 0.2;
    box-shadow: lightslategray 2px 2px 6px;
}

#footer {
    height: 100px;
    background-color: gray;
    text-align: center;
    width: 100%;
}

#footer > div {
    padding-top: 40px;
}

.footer_1 {
    color: white;
    border-right: 2px solid white;
    border-left: solid 2px white;
    padding: 0 8px 0 8px;
    margin-right: 0px;
}

.footer_2 {
    color: white;
    border-right: 2px solid white;
    padding: 0 8px 0 5px;
    margin-left: 0px;
}

#footer > div > a:hover {
    text-decoration: none;
    color: red;
    font-weight: bold;
}